@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

* {
  --main-header-height: 60px;
  --main-body-height: calc(100vh - var(--main-header-height));
}

.main-header {
  height: var(--main-header-height);
}

.main-body {
  height: var(--main-body-height);
}

.info-card {
  --info-card-padding: 0.5rem;
  background-color: var(--p-content-background);
  border: 1px solid var(--p-content-border-color);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
}

.info-card-header {
  padding: var(--info-card-padding);
  border-bottom: 1px solid var(--p-content-border-color);
  font-weight: bold;

  flex-grow: 0;
}

.info-card-body {
  padding: var(--info-card-padding);
  overflow: auto;

  flex-grow: 1;
}

.info-card-body.no-padding {
  padding: 0px;
}

.brush-bar {
  background-color: var(--p-content-background);
  border: 1px solid var(--p-content-border-color);
  border-radius: 4px;
}

.block-list-item {
  padding: var(--info-card-padding);
}
